/* Style global */
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>École Saint-Jérôme</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
 
    
    <img src="Logo.png" alt="Logo de l'école" width="200">

/* Footer */
footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titre-principal {
    font-size: 40px; /* حجم العنوان */
    font-weight: bold; /* خط عريض */
    color: #8B0000; /* اللون الأحمر الغامق */
}


.maintenance {
    text-align: center; /* Centrer le texte horizontalement */
    font-size: 20px; /* Taille de police 20px */
    font-weight: bold; /* Texte en gras */
    color: black; /* Couleur noire */
    position: absolute; /* Position absolue pour un placement précis */
    top: 50%; /* Le placer à 50% de la hauteur de la page */
    left: 50%; /* Le placer à 50% de la largeur de la page */
    transform: translate(-50%, -50%); /* Ajustement parfait au centre */
}

.nav-disabled {
    pointer-events: none; /* Désactive le clic */
    color: gray; /* Rend le texte plus discret */
    text-decoration: none; /* Enlève le soulignement */
}
