/* Style global */
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>École Saint-Jérôme</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    
    <img src="Logo.png" alt="Logo de l'école" width="200">

/* Footer */
footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.titre-principal {
    font-size: 32px; /* حجم العنوان */
    font-weight: bold; /* خط عريض */
    color: #8B0000; /* اللون الأحمر الغامق */
}
.texte-accroche {
    font-size: 24px; /* حجم الخط */
    font-weight: bold; /* خط عريض */
    color: #1C1C1C; /* اللون الأسود الغامق */
}
